@import "tailwindcss";

:root {
  --primary-color: #34ac40;
  --secondary-color: #F46D1B;
  --tertiary-color: #666666;
  --white-color: #FFFFFF;

  --font-inter: "Inter", sans-serif;
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
  --color-white: var(--white-color);

  --font-inter: var(--font-inter);
  
  --animate-puls: puls 1.5s ease-in-out infinite;

  @keyframes puls {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }
}

@layer base {
  body, html {
    @apply font-inter;
  }

  button {
    @apply cursor-pointer;
  }
}